<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h2>Admin2 Section</h2>
      <p>This is a placeholder for the Admin2 component. Content coming soon!</p>
      <a class="btn btn-primary mt-3" routerLink="/superhero">Go to SuperHero</a>
      <a class="btn btn-secondary mt-3 ms-2" routerLink="/superpower">Go to SuperPower</a>
      <a class="btn btn-info mt-3 ms-2" routerLink="/sidekick">Go to Sidekick</a>
      <a class="btn btn-warning mt-3 ms-2" routerLink="/comicappearance">Go to ComicAppearance</a>
      <a class="btn btn-dark mt-3 ms-2" routerLink="/sidekickcomicappearance">Go to SidekickComicAppearance</a>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <div *ngIf="loading" class="text-center my-3">
        <span class="spinner-border"></span> Loading summary...
      </div>
      <div *ngIf="error" class="alert alert-danger text-center">{{ error }}</div>
      <div *ngIf="summary && !loading">
        <h4 class="text-center mb-4">Admin Summary</h4>
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <th>SuperHero Count</th>
              <td>{{ summary.superHeroCount }}</td>
            </tr>
            <tr>
              <th>SuperPower Count</th>
              <td>{{ summary.superPowerCount }}</td>
            </tr>
            <tr>
              <th>Sidekick Count</th>
              <td>{{ summary.sidekickCount }}</td>
            </tr>
            <tr>
              <th>Comic Appearance Count</th>
              <td>{{ summary.comicAppearanceCount }}</td>
            </tr>
            <tr>
              <th>Sidekick Comic Appearance Count</th>
              <td>{{ summary.sidekickComicAppearanceCount }}</td>
            </tr>
            <tr>
              <th>User Count</th>
              <td>{{ summary.userCount }}</td>
            </tr>
            <tr>
              <th>Role Count</th>
              <td>{{ summary.roleCount }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>