<footer class="footer">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center py-2">
    <span>Bungie Cord Blog &copy; 2025</span>
    <span>
      <a href="https://github.com/Jay-study-nildana" target="_blank" rel="noopener" class="mx-2">GitHub</a> |
      <a href="https://stories.thechalakas.com/" target="_blank" rel="noopener" class="mx-2">Website</a> |
      <a href="https://www.instagram.com/codingtutorjay" target="_blank" rel="noopener" class="mx-2">Instagram</a>
    </span>
  </div>
</footer>