<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h2>About Us</h2>
      <p>
        Welcome to Bungie Cord Blog!<br>
        This platform is dedicated to sharing insightful blog posts and connecting passionate writers and readers.<br>
        Stay tuned for more updates and features.
      </p>
      <div class="my-4">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://github.com/Jay-study-nildana" target="_blank" rel="noopener">Developer</a>
          </li>
          <li>
            <a href="https://github.com/Jay-study-nildana/BungieCordBlog" target="_blank" rel="noopener">Repository</a>
          </li>
          <li>
            <a href="https://jay-study-nildana.github.io/BungieCordBlog/" target="_blank" rel="noopener">Documentation</a>
          </li>
          <li>
            <a href="https://stories.thechalakas.com/" target="_blank" rel="noopener">Personal Website</a>
          </li>
          <li>
            <a href="https://www.instagram.com/codingtutorjay" target="_blank" rel="noopener">Instagram (Coding Tutor Jay)</a>
          </li>
          <li>
            <a href="https://www.instagram.com/jay_instogrm" target="_blank" rel="noopener">Instagram (jay_instogrm)</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>